@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --main-light-color: #ffffff;
    --main-black-color: #000000;
    --main-blue-color: #066DCA;
    --main-red-color: #E13832;
    --bg-color: rgba(120, 156, 255, 0.09);
}

*,
html {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0;
}

body.active {
    position: fixed;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 27px;
    padding-bottom: 27px;
}

.header__container.active {
    position: fixed;
}

.logo {
    position: relative;
    z-index: 20;
}

.logo img {
    width: 160px;
    height: auto;
}

.btn__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    margin-left: auto;
    z-index: 20;
}

.close img {
    width: 27px;
    height: 19px;
}

.open {
    display: none;
}

.btn__menu.active .close {
    display: none
}

.btn__menu.active .open {
    display: flex;
}

.btn__menu.active .open img {
    width: 27px;
    height: 27px;

}

.mobile__menu {
    display: none;
}

.mobile__menu.active {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f3f6ff;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    flex-direction: column;
    padding-top: 150px;
}

.mobile__menu.active .nav {
    text-align: center;
}

.nav {
    font-weight: 400;
    font-size: 12px;
    color: var(--main-black-color);
    text-transform: uppercase;
}

.nav li {
    margin-bottom: 50px;
}

.nav li:hover {
    text-decoration: underline;
}

.btn__pay {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    background-color: var(--main-blue-color);
    color: var(--main-light-color);
    text-transform: uppercase;
    width: 250px;
    height: 40px;
    margin-bottom: 50px;
}

.btn__pay img {
    width: 14px;
    height: 11px;
    margin-right: 11px;
}

.language li {
    font-weight: 400;
    font-size: 12px;
}

.language li:first-child {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
}

.language li:nth-child(n+2) {
    display: none;
}

.language img {
    width: 7px;
    height: 5px;
    margin-left: 4px;
}


.hero__container {
    position: relative;
    background-color: var(--main-blue-color);
    height: 232px;
    z-index: -5;
}

.hero__left-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.20;
    color: var(--main-light-color);
}

.title span {
    font-weight: 400;
}

.hero__right-part img {
    position: absolute;
    top: 0;
    right: 0;
    width: 375px;
    height: 232px;
    z-index: -1;
}

.statistics__container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: -1;
}

.statistics__list li {
    position: relative;
    width: 181px;
    height: 163px;
    border-bottom: 5px solid var(--main-blue-color);
    background-color: var(--main-light-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 auto 33px auto;
    text-align: center;
    padding: 11px 15px;
}

.statistics__list li:last-child {
    margin-bottom: 0;
}

.statistics__list p {
    font-weight: 700;
    font-size: 24px;
    color: var(--main-blue-color);
    margin-bottom: 17px;
}

.base__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 153.9%;
    color: var(--main-black-color);
}

.statistics__list .base__text {
    line-height: 1.2;
}

.secondary__title {
    font-weight: 400;
    font-size: 16px;
    color: var(--main-black-color);
    text-align: center;
    margin-bottom: 9px;
}

.aboutus__container {
    padding-bottom: 37px;
}

.title__line {
    width: 220px;
    height: 5px;
    background-color: var(--main-blue-color);
    margin: 0 auto 32px auto;
}

.main__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-weight: 700;
    font-size: 13px;
    color: var(--main-light-color);
}

.btn__blue {
    background-color: var(--main-blue-color);
}

.btn__red {
    background-color: var(--main-red-color);
}

.aboutus__left-part {
    margin-bottom: 30px;
}

.aboutus__left-part .main__btn {
    width: 150px;
    margin-top: 10px;
}

.aboutus__right-part img {
    width: 100%;
    max-width: 486px;
    height: auto;
    margin: 0 auto;
}

.services,
.team,
.reviews {
    background-color: var(--bg-color);
}

.services__container {
    padding-top: 13px;
    padding-bottom: 49px;
}

.services__btn-list {
    margin-bottom: 10px;
}

.services__btn-item {
    width: 100%;
}

.services__btn-item.active {
    margin-bottom: -10px;
}

.services__list,
.services__list2 {
    background-color: var(--main-light-color);
    border: 2px solid;
    padding-top: 38px;
    padding-bottom: 38px;
}

.services__list {
    border-color: var(--main-blue-color);
}

.services__list2 {
    display: none;
    border-color: var(--main-red-color);
}

.services__item {
    position: relative;
    width: 255px;
    height: 185px;
    border-bottom: 2px solid var(--main-blue-color);
    margin: 0 auto 25px auto;
}

.services__list2 .services__item {
    border-color: var(--main-red-color);
}

.services__item:last-child {
    margin-bottom: 0;
}

.services__item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-image: url(./images/star-white.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-color: var(--main-blue-color);
}

.services__list2 .services__item::before {
    background-color: var(--main-red-color);
}

.services__item p {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: var(--main-blue-color);
    margin-bottom: 10px;
    width: 77%;
}

.services__list2 .services__item p {
    color: var(--main-red-color);
}

.services__item li {
    display: flex;
    align-items: center;
}

.services__item li::before {
    content: "";
    display: flex;
    width: 6px;
    height: 6px;
    background-color: var(--main-blue-color);
    flex: none;
    margin-right: 10px;
}

.services__list2 .services__item li::before {
    background-color: var(--main-red-color);
}

.howwework__container {
    padding-top: 22px;
    padding-bottom: 62px;
}
.howwework__left-part{
    margin-bottom: 50px;
}
.howwework__label{
    display: flex;
    align-items: center;
    width: 209px;
    height: 39px;
    font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        color: var(--main-light-color);
        margin-bottom: 25px;
}
.howwework__label img{
    width: 13px;
    height: 13px;
    margin-left: 12px;
    margin-right: 8px;
}

.howwework__left-part .howwework__label{
background-color: var(--main-blue-color);
}
.howwework__right-part .howwework__label{
    background-color: var(--main-red-color);
}
.howwework__title{
    font-weight: 700;
        font-size: 16px;
        margin-bottom: 50px;
}
.howwework__left-part .howwework__title {
   color: var(--main-blue-color);
}

.howwework__right-part .howwework__title{
color: var(--main-red-color);
}
.howwework__left-part ul,
.howwework__right-part ul {
    position: relative;
    max-width: 438px;
    height: 779px;
    margin: 0 auto;
}

.howwework__left-part ul::before,
.howwework__right-part ul::before {
    content: '';
    position: absolute;
    display: block;
    height: inherit;
    border-left: 2px dashed #C1C1C1;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.howwework__left-part li,
.howwework__right-part li {
    display: flex;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 2px solid ;
    width: 220px;
    height: 109px;
    margin-bottom: 25px;
    padding-right: 8px;
    padding-left: 15px;
}
.howwework__left-part li{
border-color: var(--main-blue-color);
}
.howwework__right-part li {
    border-color: var(--main-red-color);
}

.howwework__left-part li:last-child,
.howwework__right-part li:last-child {
    margin-bottom: 0;
}

.howwework__left-part li:nth-child(2n),
.howwework__right-part li:nth-child(2n) {
    float: right;
}

.howwework__container .base__text span {
    font-weight: 700;
}

.team__container {
    padding-top: 25px;
    padding-bottom: 25px;
}
.team .secondary__title{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.team .secondary__title::before,
.team .secondary__title::after
{
    content: "";
    display: block;
    background-image: url(./images/star-blue.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
}
.team .secondary__title::before{
margin-right: 14px;
}
.team .secondary__title::after {
 margin-left: 14px;
}


.partners__container {
    padding-top: 64px;
    padding-bottom: 64px;
}
.partners .secondary__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
}
.partners .secondary__title::before,
.partners .secondary__title::after {
    content: "";
    display: block;
    background-image: url(./images/star-red.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 13px;
    height: 13px;
}

.partners .secondary__title::before {
    margin-right: 14px;
}

.partners .secondary__title::after {
    margin-left: 14px;
}
.partners span{
    display: block;
    font-weight: 400;
        font-size: 14px;
        font-style: italic;
        color: var(--main-black-color);
        text-align: center;
}
.partners__container .main__btn,
.reviews__container .main__btn {
    width: 150px;
    margin: 0 auto;
}

.partners__container .main__btn img,
.reviews__container .main__btn img {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}
.partners__slider{
    margin-top: 70px;
    margin-bottom: 62px;
}





.reviews__container {
    padding-top: 26px;
    padding-bottom: 29px;
}




.contact__container {
    padding-top: 62px;
    padding-bottom: 90px;
}
.contact__item{
    display: flex;
    align-items: center;
    font-weight: 400;
        font-size: 12px;
        color: var(--main-black-color);
    width: 100%;
    max-width: 444px;
    background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin: 0 auto 27px auto;
}
.contact__item:last-child {
    margin-bottom: 0;
}


.contact__img{
    width: 64px;
    height: 57px;
    margin-right: 18px;
}
.contact__item li{
    display: flex;
}
.contact__item li:first-child {
   margin-bottom: 8px;
}
.contact__item li img {
    width: 16px;
    height: 16px;
    margin-right: 20px;
}
footer {
    background-color: var(--main-blue-color);
}

.footer__content {
    padding-top: 30px;
    padding-bottom: 30px;
}
.footer__content ul{
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer__content li{
    display: flex;
    align-items: center;
    font-weight: 400;
        font-size: 12px;
        color: var(--main-light-color);
        margin-bottom: 5px;
}
.footer__content li:last-child {
    margin-bottom: 0;
}
.footer__content li::before {
    content: "";
    display: flex;
    width: 6px;
    height: 6px;
    background-color: var(--main-light-color);
    flex: none;
    margin-right: 10px;
}
.pay__img{
    width: 183px;
    height: auto;
}
.copyright {

    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: var(--main-light-color);
    padding-bottom: 17px;
}

@media screen and (min-width:504px) {
    .hero__container {
        height: 313px;
    }

    .hero__right-part img {
        width: 504px;
        height: 313px;
    }

    .howwework__left-part li,
    .howwework__right-part li {
        width: 272px;
        margin-left: 26px;
    }
}

@media screen and (min-width:768px) {
    .secondary__title {
        font-size: 24px;
    }

    .base__text {
        font-size: 15px;
    }

    .title {
        font-size: 24px;
    }

    .statistics__container {
        padding-top: 0;
    }

    .statistics__list {
        display: flex;
        justify-content: center;
        margin-top: -40px;
    }

    .statistics__list li {
        margin: 0 17px;
    }

    .statistics__list li::before {
        content: "";
        position: absolute;
        top: -18px;
        left: -18px;
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: var(--main-light-color);
        background-image: url(./images/star-blue.svg);
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: center;
    }

    .title__line {
        width: 396px;
    }

    .main__btn {
        font-size: 16px;
    }

    .aboutus__left-part .main__btn {
        width: 180px;
    }

    .partners__container .main__btn,
    .reviews__container .main__btn {
        width: 180px;
    }

    .services__btn-list {
        display: flex;
    }

    .services__btn-item {
        max-width: 375px;
    }

    .services__btn-item:first-child {
        margin-right: 17px;

    }

    .services__list,
    .services__list2 {
        padding: 43px 44px 57px 44px;

    }

    .services__list-inner {
        display: flex;
        flex-wrap: wrap;
        margin-top: -25px;
        margin-right: -63px;
    }

    .services__item {
        margin-top: 25px;
        margin-right: 63px;
        margin-bottom: 0;
        flex-basis: calc((100% - 2 * 63px) / 2);
    }

    .services__item p {
        font-size: 16px;
    }
.howwework__label {
    font-size: 16px;
}
.howwework__title{
        font-size: 20px;
}
.partners span {
font-size: 16px;
}
.contact__item {
    font-size: 15px;
}
.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
}
.footer__content ul{
    margin: 0
}
.footer__content li {
    font-size: 15px;
}
.copyright {
    font-size: 15px;
}
}
@media screen and (min-width:1024px) {
    .logo img {
        width: 200px;
    }

    .btn__menu {
        display: none;
    }

    .nav ul {
        display: flex;
    }

    .nav li {
        margin-bottom: 0;
    }

    .nav li:not(:last-child) {
        margin-right: 30px;
    }

    .btn__pay {
        width: 174px;
        height: 28px;
        margin-bottom: 0;
    }

    .aboutus__wrap {
        display: flex;
        justify-content: space-between;
    }

    .aboutus__left-part,
    .aboutus__right-part {
        width: 49%;
    }

    .aboutus__left-part {
        margin-bottom: 0;
    }

    .aboutus__right-part img {
        margin: 0;
        float: right;
    }

    .services__item {
        flex-basis: calc((100% - 3 * 63px) / 3);
    }
    .howwework__wrap{
        display: flex;
        justify-content: space-between;
    }
        .howwework__left-part {
            margin-bottom: 0;
        }
        .contact__list{
display: flex;
flex-wrap: wrap;
        }
        .footer__content ul{
            column-count: 2;
        }
}